.messages{
    margin: auto;
    width: fit-content;
}
.container{
    margin: auto;
}
.main{
    display: flex;
    justify-content: space-evenly;
    width: 950px;
    margin-top: 20px;
}
.welcomemain{
    margin-top: 20px
}
.register, .log{
    min-height: 400px;
    width: 340px;
    box-shadow: 0 0 10px rgb(94, 92, 92);
}
.register h1{
    padding: 30px 0px 10px 60px;
}
.log h1{
    padding: 30px 0px 10px 120px;
}
.btn{
    margin: auto;
}
.header{
    margin: 20px;
}
.line{
    height: 3px;
    background-color: rgb(56, 52, 52);
    border-radius: 40%;
    margin: auto;
    margin-bottom: 20px;
}
.cmtmsgs{
    border-bottom: 2px solid rgb(3, 74, 85);
}
.bodyline{
    height: 3px;
    background-color: cadetblue;
    border-radius: 40%;
    margin: auto;
    margin-bottom: 20px;
}
.wallform{
    margin-bottom: 40px;
}